services:
  # Simulates an app writing logs to a file
  app:
    image: alpine:latest
    container_name: app
    volumes:
      - shared-logs:/var/log/shared
    # Writes a plain text log entry every second
    command: >
      sh -c "
      echo 'Starting App...' &&
      while true; do
        echo \"User login detected\" >> /var/log/shared/app.log;
        echo \"Oh no from stdout\";
        sleep 1;
      done"

  app2:
    image: alpine:latest
    container_name: app2
    # Writes a plain text log entry every second
    command: >
      sh -c "
      echo 'Starting App...' &&
      while true; do
        echo \"App 2 from stdout\";
        sleep 1;
      done"

  # edge vector
  vector-edge:
    image: timberio/vector:nightly-alpine
    container_name: vector-edge
    environment:
      - VECTOR_SERVER=edge-logs-server-1
    depends_on:
      - app
    networks:
      - ingest
    volumes:
      - ./vektor/vector-edge.yaml:/etc/vector/vector.yaml:ro
      # so it can grab docker logs
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # file read logs
      - shared-logs:/var/log/shared:ro
      # persistent buffer for disk-based buffering
      - vector-edge-buffer:/var/lib/vector

  # in production, vector-edge and vector-metrics is the same service / same container
  # this is here for educational purposes only
  vector-metrics:
    image: timberio/vector:nightly-alpine
    container_name: vector-metrics
    environment:
      # see https://vector.dev/docs/reference/configuration/sources/host_metrics/#environment-variables
      - PROCFS_ROOT=/host/proc
      - SYSFS_ROOT=/host/sys
      # tag to identify the server
      - VECTOR_SERVER=edge-metrics-server-1
    volumes:
      - ./vektor/vector-metrics.yaml:/etc/vector/vector.yaml:ro
      # host metrics
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      # disk usage
      - /:/host/root:ro
      # persistent buffer for disk-based buffering
      - vector-metrics-buffer:/var/lib/vector
    # so that network metrics collection is correct
    network_mode: host

  vector-central:
    image: timberio/vector:nightly-alpine
    container_name: vector-central
    networks:
      - ingest
      - storage
    expose:
      # central port for edge vectors to send data
      - "8080"
    ports:
      # because vector-metrics is in network_host, we have to map the port
      - "8080:8080"
    volumes:
      - ./vektor/vector-central.yaml:/etc/vector/vector.yaml:ro
      # persistent buffer for disk-based buffering
      - vector-central-buffer:/var/lib/vector

  # CH for data storage and query
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    environment:
      CLICKHOUSE_PASSWORD: default
    ports:
      - "8123:8123"
    networks:
      - storage
    volumes:
      # Mount the initialization script
      - ./clickhouse/init_clickhouse.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "clickhouse-client", "--query", "SELECT 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

volumes:
  shared-logs:
  vector-edge-buffer:
  vector-metrics-buffer:
  vector-central-buffer:

networks:
  ingest:
  storage: