services:
  # Simulates an app writing logs to a file
  app:
    image: alpine:latest
    container_name: app
    volumes:
      - shared-logs:/var/log/shared
    # Writes a plain text log entry every second
    command: >
      sh -c "
      echo 'Starting App...' &&
      while true; do
        echo \"User login detected\" >> /var/log/shared/app.log;
        echo \"Oh no from stdout\";
        sleep 1;
      done"

  app2:
    image: alpine:latest
    container_name: app2
    # Writes a plain text log entry every second
    command: >
      sh -c "
      echo 'Starting App...' &&
      while true; do
        echo \"App 2 from stdout\";
        sleep 1;
      done"


  # edge vector
  vector-edge:
    image: timberio/vector:nightly-alpine
    container_name: vector-edge
    depends_on:
      - app
    networks:
      - ingest
    volumes:
      - ./vektor/vector-edge.yaml:/etc/vector/vector.yaml:ro
      # so it can grab docker logs
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # file read logs
      - shared-logs:/var/log/shared:ro

  vector-central:
    image: timberio/vector:nightly-alpine
    container_name: vector-central
    networks:
      - ingest
      - storage
    expose:
      # central port for edge vectors to send data
      - "8080"
    volumes:
      - ./vektor/vector-central.yaml:/etc/vector/vector.yaml:ro

  # CH for data storage and query
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    environment:
      CLICKHOUSE_PASSWORD: default
    ports:
      - "8123:8123"
    networks:
      - storage
    volumes:
      # Mount the initialization script
      - ./clickhouse/init_clickhouse.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  shared-logs:

networks:
  ingest:
  storage: